<!DOCTYPE html>
<html lang="en" ng-app="imap">
  <head>
    <meta charset="UTF-8">
    <title>Boiler Map</title>
    <script src="./webjars/angularjs/1.5.8/angular.js"></script>
    <script src="./webjars/angularjs/1.5.8/angular-resource.js"></script>
    <script src="./webjars/angularjs/1.5.8/angular-route.js"></script>
    <link rel="stylesheet" href="./webjars/bootstrap/3.3.7-1/css/bootstrap.css">

    <script src="/assets/javascripts/app/app.js"></script>
    <script src="/assets/javascripts/app/controllers/regionController.js"></script>
    <script src="/assets/javascripts/app/controllers/townController.js"></script>
    <script src="/assets/javascripts/app/controllers/boilerController.js"></script>
  </head>

  <body>
    <div ng-view></div>
  </body>

  <script>
    window.location.href = '#/region';
  </script>
</html>