<div class="container-fluid">
  <div class="container">
    <div class="row vertical-offset-100">
      <div class="col-md-8 col-md-offset-2">
        <div class="panel imap-panel">
          <div class="panel-heading">
            <h3 class="panel-title">Ростовская Область</h3>
          </div>
          <div>
            <canvas id='canvas' width="660" height="663" class='rostovMap' style='position:absolute;' ng-click="clickOnCanvas($event)"></canvas>
            <img id="backgroundImg" src="/assets/images/rostovRegion.png" />
          </div>
        </div>
      </div>
    </div>
  </div>

</div>